<!doctype html>
<html lang="en">
  <header>
    <link href="/static/reset.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
    <script src="/static/bundle.js"></script>
  </header>
  <body>
    <div id="content">{{{content}}}</div>
  </body>
</html>
